<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" />
    <script src="../static/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script src="../static/js/blog-scripts.js" th:src="@{/js/blog-scripts.js}"></script>
    <meta th:include="this :: head" th:remove="tag"/>
    <title th:text="${post.title}">View Post</title>
</head>

<body>

<header>
    <a href="index.html" th:href="@{/}"><img
            src="../public/img/site-logo.png" th:src="@{/img/site-logo.png}" /></a>
    <a href="index.html" th:href="@{/}">Home</a>
    <a href="users/login.html" th:href="@{/users/login}">Login</a>
    <a href="users/register.html" th:href="@{/users/register}">Register</a>
    <a href="posts/index.html" th:href="@{/posts}">Posts</a>
    <a href="posts/create.html" th:href="@{/posts/create}">Create Post</a>
    <a href="users/index.html" th:href="@{/users}">Users</a>
    <div id="logged-in-info">
        <span>Hello, <b>(user)</b></span>
        <form method="post" th:action="@{/users/logout}">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</header>

<main id="posts">
    <article>
        <h2 class="title" th:text="${post.title}">Post Title</h2>
        <div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}">22-May-2016</span>
            <span th:if="${post.author}" th:remove="tag">
        <i>by</i>
        <span th:text="${post.author.fullName != null ?
                         post.author.fullName : post.author.username}">Svetlin Nakov</span>
        </span>
        </div>
        <p class="content" th:utext="${post.body}">Post content</p>
    </article>
</main>

<footer>&copy; Spring MVC Blog System, 2016</footer>

</body>

</html>